<div class="card-top cantainer-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
            <img style="height: 69px;width: 70px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsskCyuPrl_kiXRh5OWtSgJroczTPclkJp4g&s" alt="">
            <h6>All products</h6>
        </a>

        </div>
        <div class="item">
            <a>
                <img src="https://rukminim2.flixcart.com/fk-p-flap/80/80/image/0d75b34f7d8fbcb3.png?q=100" alt="">
                <h6>Fashion</h6>
            </a>
            
        </div>
        <div class="item">
            <a>
                <img src="https://rukminim2.flixcart.com/flap/80/80/image/29327f40e9c4d26b.png?q=100" alt="">
                <h6>Grocery</h6>

            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://rukminim2.flixcart.com/flap/80/80/image/22fddf3c7da4c4f4.png?q=100" alt="">
                <h6>Mobiles</h6>
            </a>
            
        </div>
        <div class="item">
            <a>
                <img src="https://rukminim2.flixcart.com/flap/80/80/image/69c6589653afdb9a.png?q=100" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="https://rukminim2.flixcart.com/flap/80/80/image/ab7e2b022a4587dd.jpg?q=100" alt="">
                <h6>Home & furniture</h6>
            </a>
            
        </div>
        <div class="item">
            <a>
                <img src="https://rukminim2.flixcart.com/fk-p-flap/80/80/image/0139228b2f7eb413.jpg?q=100" alt="">
                <h6>Appliances</h6>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;" >{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price</strong>${{item.price}}</p>
                <button class="btn btn-primary"(click)=addtoCart(item)>Add to cart</button>
            </div>
        </ng-container>
        
    </div>
</div>
